<div class="page-header">
  <h1>My Events</h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Updated At</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= l event.updated_at, format: :long %></td>
        <td><%= link_to edit_event_path(event) do %><span class="glyphicon glyphicon-edit" aria-hidden="true"></span><%end%></td>
        <td><%= link_to event_event_sections_path(event) do %><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span><%end%></td>
        <td><%= link_to event_path(event), method: :delete, data: { confirm: 'Are you sure?' } do %><span class="glyphicon glyphicon-remove" aria-hidden="true"></span><%end%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path, class: "btn btn-primary" %>
