<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= favicon_link_tag "favicon.ico", :rel => 'shortcut icon', :type => "image/x-icon" %>

    <title>Lightning Talks</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" href="/assets/favicon.ico">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="<%=@body_class%>" role="document">

    <!-- Fixed navbar -->
    <div class="row">
      <nav class="navbar navbar-inverse navbar-fixed-top navbar-embossed">
        <div class="col-xs-12">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
            </button>
            <%=link_to "Lightning Talks", root_url, class: "navbar-brand"%>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse-01">
            <%=render_navigation expand_all: true, context: :primary%>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
    </div>

    <div class="container" role="main">
      <%=yield%>
    </div> <!-- /container -->
  </body>
</html>
